@import "../../styles/Variables.scss";

.itemGrid {
  font-family: $rubik;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  margin-top: 32px;
  gap: 32px;
  padding-bottom: 100px;
  .card {
    background: white;
    border: 1px $grey solid;
    border-radius: 4px;
    padding: 24px;
    .image {
      width: 44px;
      height: 44px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 3px solid $grey;
      border-radius: 2px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    animation: fadeIn 1 forwards 0.5s;
    height: 192px;
    .cardTitleWrapper {
      display: flex;
      align-items: center;
      .cardLabelWrapper {
        height: 44px;
        margin-left: 16px;
        .cardTitle {
          font-size: 16px;
          font-weight: 500;
          margin: 0;
        }
        .cardCategory {
          margin-top: 4px;
          font-size: 12px;
          font-weight: 400;
          color: $darkGrey;
        }
      }
    }

    .cardLink {
      color: $blue;
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
    }

    .cardDescription {
      color: $darkGrey;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
