@import "../../styles/Variables.scss";

.navbar {
  width: 100%;
  padding: 0px 48px;
  border-bottom: 1px solid;
  border-color: $grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    height: 100%;
    width: 60px;
  }
  .options {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 16px 0;
  }
  button {
    background-color: $green;
    color: white;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
  }
  button:hover {
    filter: brightness(80%);
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
